body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(15, 1, 1);
    display: flex;
}
#contenedor{
    background-color: aliceblue;
    width: 80%;
}
header{
    display: flex;
    justify-content: center;
    align-items: ;
    gap: 2em;
    margin: 2em 
}
nav{
    display: flex;
    gap: 1em;
    justify-content: center;
    background-color: rgb(250, 208, 208);
}
nav a{
    text-decoration: none;
    color: inherit;
    padding: 1em;
    font-size: 0.8em;
    font-weight: 100;
}
nav a:hover{
    background-color: red;
}

