.caja{
    padding: 16px;
    display: block;
    width: 500px;
    border-radius: 16px;
    margin-bottom: 16px;
}
h2{
    margin: 0;
}
#color1{
    background-color: darkorchid;
    color: white;
    border: solid 3px darkslateblue;
    outline: solid3px darkblue;
    outline-offset: 3px ;
}
#color2{
    background-color: rgb(228, 228, 20);
    color: rgb(255, 255, 255);
}
#color3{
    background-color: rgba(0, 50, 50, 0.5);
    transform: translate(40px, -70px);
}
#color4{
    background-color: #ff0000;
    color: #ffffff;
}
#color5{
    background-color: #eaff00ec
    
}

