*{
 margin: 0;
 padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    background-color: rgb(139, 232, 245);
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.ejercicio{
    background-color: blueviolet;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 500px;
}
.ejercicio h1{
font-size: 1.5em;
color: violet;
}
.ejercicio input{
 width: 16em;
}
.ejercicio .btn{
    background-color: rgb(207, 182, 231);
    color: rgb(44, 13, 13);
    cursor: pointer;
    padding: 0.7em;
    width: fit-content;
}
.ejercicio span{
    display: flex;
    gap: 1em;
}
.ejercicio .salida{
    border: 2px rgb(142, 69, 179);
    width: 100%;
}
