body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(126, 235, 126);
}
h1{
    font-size: 01em;
}

#boton1{
    background-color: aquamarine;
    
}
#boton2{
    background-color: aquamarine;
}
#boton3{
    background-color: aquamarine;
}
#caja{
    border: 2em;
}